DATABASE_URL=
JWT_SECRET=
NODE_ENV=development

NEXT_PUBLIC_S3_BUCKET_NAME=
NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=
NEXT_PUBLIC_S3_ROOT_PATH=
NEXT_PUBLIC_TAX_RATE=0
NEXT_PUBLIC_PAY_PERIOD_START="2025-01-01"