DATABASE_URL=
JWT_SECRET=
NODE_ENV=development

NEXT_PUBLIC_TAX_RATE=0
NEXT_PUBLIC_PAY_PERIOD_START="2025-01-01"

NEXT_PUBLIC_STORAGE_TYPE= #'s3' | 'minio'

# AWS S3
NEXT_PUBLIC_S3_BUCKET_NAME=
NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=
NEXT_PUBLIC_S3_ROOT_PATH=

# Minio
NEXT_PUBLIC_MINIO_BUCKET_NAME=
NEXT_PUBLIC_MINIO_ENDPOINT=
NEXT_PUBLIC_MINIO_ACCESS_KEY_ID=
NEXT_PUBLIC_MINIO_SECRET_ACCESS_KEY=
NEXT_PUBLIC_MINIO_PORT=